<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block content %}

<h1 align = "center">Welcome to GRAPP</h1>
<h2 style="font-size: 24px; text-align: center; color: darkred;"> Graduation Program App</h2> <br>
<h3 style="font-size: 20px; text-align: center;">Search</h3>


<form name = "pass_data" action ="/requirements" method="post">    <!-- the search boxes, just like what we have in project folder -->
    <div style="text-align: center;">
        <input name="Country" type="text" id="Country" placeholder="Enter Country" oninput='postData(Country.value)' />  oninput:  <span id="result"></span>
			<script>
				function postData() {	    	
					var country = $("#Country").val();
					console.log(country);
					result.innerHTML = country;
					$.ajax({
						type: "POST",
						url: '../auth.py',
						data:{givenValue: 'country'},
						async: true,
						//dataType: 'text',
						success: callbackFunc(),
						/*
						success: function(response) {
							//result.innerHTML = response;
							console.log("This is callbackFunction.");
							console.log(response);
						}
						*/
					});
				}
 				function callbackFunc(response) {
					//result.innerHTML = response;
					console.log("This is callbackFunction.");
					console.log(response);
				}
			</script>

        <input name="State/Province" type="text" id="State/Province" placeholder="Enter State/Province"/>
    
        <input name="County" type="text" id="County" placeholder="Enter County" />
    
        <input name="University" type="text" id="University" class ="input" placeholder="Enter University Name" />
    </div>
    
    <div style="text-align: right;">
        <input type="reset" value="Reset"/>

        <button class="button" type= "submit" value="Submit" >Submit</button> <br> <br>
    </div>
    
    

</form>



<script>
    let input = document.querySelector(".input");
    let button = document.querySelector(".button");

    button.disabled = true;

    input.addEventListener("change", stateHandle);

    function stateHandle() {
        if(document.querySelector(".input").value==="") {
            button.disabled = true;
        }
        else {
            button.disabled = false;
        }
    }
</script>



{% endblock %}